/* component-product-logos.css */

/* Style for the container holding product logos */
.product-logo-container {
  width: 80%; /* Set the width to 80% of the container */
  position: relative;
  display: flex; /* Display logos in a row */
  justify-content: flex-start; /* Space logos evenly on the horizontal axis */
  align-items: center; /* Center logos vertically */
  margin: 20px 0; /* Add margin above and below the logos */
}

/* Style for individual product logos */
.product-logo {
  position: relative;
}

.product-logo img {
  width: 100%; /* Set the maximum width to fill the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 80px
}

/* Style for the tooltip text */
.tooltip-text {
  text-align: center;
  position: absolute;
  top: 100%; /* Position the tooltip below the product logo */
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: rgb(var(--color-base-accent-1)); /* Background color of the tooltip */
  padding: 5px 10px; /* Padding around the tooltip text */
  border-radius: 5px; /* Rounded corners for the tooltip */
  z-index: 1; /* Ensure the tooltip appears above other elements */
  opacity: 0; /* Start with opacity set to 0 (hidden) */
  visibility: hidden; /* Hide the tooltip by default */
  white-space: nowrap; /* Prevent text from wrapping to a new line */
  transition: opacity 0.25s ease-in-out; /* Fade in/out transition */
}

/* Show the tooltip on hover */
.product-logo:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.25s; /* Delay for tooltip appearance */
}
