<div class="page-width">
  <main class="content content-area">
  <div class="grid">
    <div class="grid-item grid__item loaded" style="width:100%; max-width:100%;">



      <div class="section-header text-center page-title store-finder-page-header" style="">
        <h1 class="label " style="">{{ page.title }}</h1>
      </div>


      <div class="rte">
        {{ page.content }}

        <style>
#simple_store_finder__map { 



}
            .simple_store_finder__search_distancelywrmqzp {
        width:50px;
        display:inline;
        float:left;
        margin-top:5px;
        font-size: 80%;
         
} 
.simple_store_finder__search_resultlywrmqzp {
   padding-top:15px;
   padding-bottom:5px;
   clear: both;
}

.simple_store_finder__search_locationlywrmqzp {
  display: inline;
  float: left;
  max-width:70%;
  margin-left:10px;
}

#simple_store_finder__search_results {
   height: 300px;
}

            
#firstHeadinglywrmqzp {
margin-top:2px;
margin-bottom:6px;
padding-right:10px;
font-size:110%;
}

.simple_store_finder__columnslywrmqzp {
clear:both;
}

.simple_store_finder__columnlywrmqzp {
margin-right:10px; padding-right:10px;

}

.simple_store_finder__divlywrmqzp {
                      margin:4px;
                      padding:2px;
                }

.simple_store_finder__locationlywrmqzp {
                      margin-bottom:8px;
}

 .simple_store_finder__groupnamelywrmqzp { font-weight: bold; } .simple_store_finder__country_groupnamelywrmqzp { font-weight: bold; } .simple_store_finder__namelywrmqzp { font-size: 110%; } .simple_store_finder__headerlywrmqzp { font-size: 120%; } .simple_store_finder__featured_storelywrmqzp { display: inline; float: left; padding:10px; margin:10px; } 
        </style>
        <div id="simple_store_finder__contentlywrmqzp" class="updated_1695391678" style="margin-left: 0px; margin-right: 0px;">
               {{ page.metafields.simple_store_finder.stores_text }}
        </div>
      </div>


    </div>

  </div>
</main>
</div>

