<div class="page-width">
  <main class="content content-area">
    <div class="section-header text-center page-title store-finder-page-header" style="">
      <h1 class="label " style="">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}

      <style>
        #simple_store_finder__map {}

        .simple_store_finder__search_distancenewjktmx {
          width: 50px;
          display: inline;
          float: left;
          margin-top: 5px;
          font-size: 80%;

        }

        .simple_store_finder__search_resultnewjktmx {
          padding-top: 15px;
          padding-bottom: 5px;
          clear: both;
        }

        .simple_store_finder__search_locationnewjktmx {
          display: inline;
          float: left;
          max-width: 70%;
          margin-left: 10px;
        }

        #simple_store_finder__search_results {
          height: 300px;
        }


        #firstHeadingnewjktmx {
          margin-top: 2px;
          margin-bottom: 6px;
          padding-right: 10px;
          font-size: 110%;
        }

        .simple_store_finder__columnsnewjktmx {
          clear: both;
        }

        .simple_store_finder__columnnewjktmx {
          margin-right: 10px;
          padding-right: 10px;

        }

        .simple_store_finder__divnewjktmx {
          margin: 4px;
          padding: 2px;
        }

        .simple_store_finder__locationnewjktmx {
          margin-bottom: 8px;
        }

        .simple_store_finder__groupnamenewjktmx {
          font-weight: bold;
        }

        .simple_store_finder__country_groupnamenewjktmx {
          font-weight: bold;
        }

        .simple_store_finder__namenewjktmx {
          font-size: 110%;
        }

        .simple_store_finder__headernewjktmx {
          font-size: 120%;
        }

        .simple_store_finder__featured_storenewjktmx {
          display: inline;
          float: left;
          padding: 10px;
          margin: 10px;
        }
      </style>
      <div id="simple_store_finder__contentnewjktmx" class="updated_1648203062"
        style="margin-left: 0px; margin-right: 0px;">
        {{ page.metafields.simple_store_finder.stores_text }}
      </div>
    </div>
  </main>
</div>