<div class="page-width">
  <main class="content content-area">
  <div class="grid">
    <div class="grid-item grid__item loaded" style="width:100%; max-width:100%;">



      <div class="section-header text-center page-title store-finder-page-header" style="">
        <h1 class="label " style="">{{ page.title }}</h1>
      </div>


      <div class="rte">
        {{ page.content }}

        <style>
#simple_store_finder__map { 



}
            .simple_store_finder__search_distancehqxvobcg {
        width:50px;
        display:inline;
        float:left;
        margin-top:5px;
        font-size: 80%;
         
} 
.simple_store_finder__search_resulthqxvobcg {
   padding-top:15px;
   padding-bottom:5px;
   clear: both;
}

.simple_store_finder__search_locationhqxvobcg {
  display: inline;
  float: left;
  max-width:70%;
  margin-left:10px;
}

#simple_store_finder__search_results {
   height: 300px;
}

            
#firstHeadinghqxvobcg {
margin-top:2px;
margin-bottom:6px;
padding-right:10px;
font-size:110%;
}

.simple_store_finder__columnshqxvobcg {
clear:both;
}

.simple_store_finder__columnhqxvobcg {
margin-right:10px; padding-right:10px;

}

.simple_store_finder__divhqxvobcg {
                      margin:4px;
                      padding:2px;
                }

.simple_store_finder__locationhqxvobcg {
                      margin-bottom:8px;
}

 .simple_store_finder__groupnamehqxvobcg { font-weight: bold; } .simple_store_finder__country_groupnamehqxvobcg { font-weight: bold; } .simple_store_finder__namehqxvobcg { font-size: 110%; } .simple_store_finder__headerhqxvobcg { font-size: 120%; } .simple_store_finder__featured_storehqxvobcg { display: inline; float: left; padding:10px; margin:10px; } 
        </style>
        <div id="simple_store_finder__contenthqxvobcg" class="updated_1679158741" style="margin-left: 0px; margin-right: 0px;">
               {{ page.metafields.simple_store_finder.stores_text }}
        </div>
      </div>


    </div>

  </div>
</main>
</div>

